# =========================
# DATASETS
# =========================

data/raw/
data/processed/

*.csv
*.tsv
*.xlsx
*.json
*.parquet
*.feather
*.db
*.sqlite

*.zip
*.gz
*.tar
*.7z

# =========================
# MODELS / RESULTS
# =========================

models/
results/
outputs/
logs/

*.pkl
*.joblib
*.h5
*.model

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# GIT
# =========================

*.log